@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  color: #303030;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #d4d4d4;
    background-color: #151515;
    color-scheme: dark;
  }  
}

a:not(header a):not(footer a):not(.link-card) {
  color: #0072f5;
  transition: color .2s ease;
}

a:hover:not(header a):not(footer a):not(.link-card) {
  color: #68b5fb;
}
